[user]
	name = Joao Azevedo
	email = joaopsazevedo@outlook.com
[core]
	editor = nvim
[color]
	ui = auto
[init]
	defaultBranch = main

[includeIf "gitdir:~/Developer/adacore/**"]
	path = .gitconfig_adacore
