[user]
    name = Joao Azevedo
    email = joaopsazevedo@outlook.com

[core]
    editor = nvim
    autocrlf = input
    compression = 9
    fsync = none
    whitespace = error

[color]
    ui = auto

[init]
    defaultBranch = main

[blame]
    coloring = highlightRecent
    date = relative

[diff]
    context = 3
    renames = copies
    interHunkContext = 10

[push]
    default = current
    followTags = true

[pull]
    rebase = true

[submodule]
    fetchJobs = 16

[rebase]
    autoStash = true

[includeIf "gitdir:~/Developer/adacore/**"]
    path = .gitconfig_adacore
